$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';

@import './header';
@import './vnav';
@import './widget-container';
@import './widget';
@import 'component-container';
@import 'scrollbar';

html, body {
  height: 100%;
}

.widgets-container-wrapper {
  padding-top: $padding-base-horizontal;
}

.app-body {
  padding: 0 $padding-base-horizontal;
}

.row-no-padding {
  margin: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}